<div class="filter-wrap">	
	<div class="filter-name">
		<p>Паб</p>
	</div>
	<div class="scrollbar">	
		<div class="filter">
			<div class="tab-wrap"><span class="filter__tab menu-category selected" product="beer">Пиво</span></div>
			<div class="tab-wrap"><span class="filter__tab menu-category" product="fastSnacks">Быстрые&nbsp;закуски</span></div>
			<div class="tab-wrap"><span class="filter__tab menu-category" product="hotSnacks">Горячие&nbsp;закуски</span></div>
			<div class="tab-wrap"><span class="filter__tab menu-category" product="partySnacks">Закуски&nbsp;на&nbsp;компанию</span></div>
			<div class="tab-wrap"><span class="filter__tab menu-category" product="burgers">Бургеры</span></div>
		</div>
	</div>	
	<div class="check">
		<div class="check__title">
			<p>Средний чек<br> на человека</p>
		</div>
		<div class="check__icon"></div>
	</div>
</div>
<div class="menu-content">	
/*
	<div class="wrapper">	
		<div class="menu-item">
			<div class="item-name">
				<span>Ржанные гренки</span>
				<div class="item-name__price">
					<span>75</span>	
				</div>
			</div>
			<div class="menu-item__description">
				<p>Ржаной хлеб, чеснок, креветки, сливки, специи</p>
			</div>
			<div class="menu-item__weight">
				<p>150/50 г</p>
			</div>
		</div>
	</div>
*/
</div>